In [1]:
import pandas as pd

df = pd.read_csv("final_shop_6modata.csv")
df.sample(5)

,Ad Group,Month,Impressions,Clicks,CTR,Conversions,Conv Rate,Cost,CPC,Revenue,Sale Amount,P&L
75,Shop - Phrase - Desk - Competitor,August,35,3,0.09,0,0.00,1,0.62,0,0.00,-1.000
149,Shop - Phrase - Desk - Free Shipping,October,72,9,0.13,1,0.14,5,0.57,8,157.97,2.900
21,Shop - Exact - Mob - Offer,July,1029,256,0.25,24,0.07,212,0.83,208,4425.49,-3.509
175,Shop - 1:1 - Mob - [shop coupon code],November,99258,42283,0.43,4349,0.08,24149,0.57,24071,500400.85,-77.730
115,Shop - 1:1 - Mob - [shop promo code],October,34929,15595,0.45,2193,0.09,11258,0.72,12025,252296.27,766.859

In [2]:
df.isna().sum()

Ad Group       0
Month          0
Impressions    0
Clicks         0
CTR            0
Conversions    0
Conv Rate      0
Cost           0
CPC            0
Revenue        0
Sale Amount    0
P&L            0
dtype: int64

In [3]:
df.duplicated().sum()

0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ad Group     190 non-null    object
 1   Month        190 non-null    object
 2   Impressions  190 non-null    int64
 3   Clicks       190 non-null    int64
 4   CTR          190 non-null    float64
 5   Conversions  190 non-null    int64
 6   Conv Rate    190 non-null    float64
 7   Cost         190 non-null    int64
 8   CPC          190 non-null    float64
 9   Revenue      190 non-null    int64
 10  Sale Amount  190 non-null    float64
 11  P&L          190 non-null    float64
dtypes: float64(5), int64(5), object(2)
memory usage: 17.9+ KB

In [5]:
df['Ad Group'] = df['Ad Group'].astype('string')
df.dtypes

Ad Group       string[python]
Month                  object
Impressions             int64
Clicks                  int64
CTR                   float64
Conversions             int64
Conv Rate             float64
Cost                    int64
CPC                   float64
Revenue                 int64
Sale Amount           float64
P&L                   float64
dtype: object

In [6]:

df['Type'] = df['Ad Group']

df['Type'][df['Type'].str.contains('Free Shipping')]='Free Shipping'
df['Type'][df['Type'].str.contains('coupon')]='Coupon'
df['Type'][df['Type'].str.contains('Coupon')]='Coupon'
df['Type'][df['Type'].str.contains('promo')]='Promo'
df['Type'][df['Type'].str.contains('Promo')]='Promo'
df['Type'][df['Type'].str.contains('discount')]='Discount'
df['Type'][df['Type'].str.contains('Discount')]='Discount'
df['Type'][df['Type'].str.contains('Competitor')]='Competitor'
df['Type'][df['Type'].str.contains('Offer')]='Offer'
df['Type'][df['Type'].str.contains('Sale')]='Sale'
df['Type'][df['Type'].str.contains('Black Friday')]='Black Friday'

df[['Ad Group','Type']].head()

                                   Ad Group      Type
0    Shop - 1:1 - Desk - [shop coupon code]    Coupon
1         Shop - 1:1 - Desk - [shop coupon]    Coupon
2  Shop - 1:1 - Desk - [shop discount code]  Discount
3     Shop - 1:1 - Desk - [shop promo code]     Promo
4          Shop - 1:1 - Desk - [shop promo]     Promo

In [7]:
df['Media'] = df['Ad Group']

df['Media'][df['Media'].str.contains('Desk')] = 'Desktop'
df['Media'][df['Media'].str.contains('Mob')] = 'Mobile'

df[['Ad Group','Media']].head()

                                   Ad Group    Media
0    Shop - 1:1 - Desk - [shop coupon code]  Desktop
1         Shop - 1:1 - Desk - [shop coupon]  Desktop
2  Shop - 1:1 - Desk - [shop discount code]  Desktop
3     Shop - 1:1 - Desk - [shop promo code]  Desktop
4          Shop - 1:1 - Desk - [shop promo]  Desktop

In [8]:
df['CPM'] = df['Cost'] / df['Impressions'] * 1000
df['CPM'] = df['CPM'].round(2)

df[['Impressions', 'Cost', 'CPM']].head()

   Impressions   Cost     CPM
0        16038   6669  415.82
1        36462  13746  377.00
2         3635   1606  441.82
3        26185  13278  507.08
4          808    391  483.91

In [11]:
df.to_excel("clean_final_shop_6modata.xlsx")