In [19]:
import pandas as pd

In [20]:
df = pd.read_excel("Employee.xlsx")
df.head()

c:\Users\Lenovo\AppData\Local\Programs\Python\Python38\lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Employe ID,Gender,Age,Education,Department,Performance Rating,Absent,Turnover,ESI 1,ESI 2,ESI 3,Promoted This Year,Complete the Training Course,Training Evaluation Score,Min. Training Pass Eval. Score
0,BCGX7377,Male,27,Master’s degree,Business Development,7.92,1,No,9,8,6,No,Yes,98,70
1,BCGX4795,Male,44,Higher education (Bachelor’s degree),Engineering,5.94,7,No,8,10,9,No,No,91,70
2,BCGX4007,Female,21,Higher education (Bachelor’s degree),Human Resources,9.90,0,No,8,10,10,Yes,No,62,70
3,BCGX9524,Male,47,Higher education (Bachelor’s degree),Business Development,9.90,5,No,7,9,8,Yes,No,77,70
4,BCGX8426,Female,46,Doctor of Philosophy (Ph.D.),Product Management,7.92,4,No,9,9,9,No,Yes,85,70

In [21]:
df.isna().sum()

Employe ID                        0
Gender                            0
Age                               0
Education                         0
Department                        0
Performance Rating                0
Absent                            0
Turnover                          0
ESI 1                             0
ESI 2                             0
ESI 3                             0
Promoted This Year                0
Complete the Training Course      0
Training Evaluation Score         0
Min. Training Pass Eval. Score    0
dtype: int64

In [22]:
df.duplicated().sum()

0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854 entries, 0 to 853
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employe ID                      854 non-null    object
 1   Gender                          854 non-null    object
 2   Age                             854 non-null    int64
 3   Education                       854 non-null    object
 4   Department                      854 non-null    object
 5   Performance Rating              854 non-null    float64
 6   Absent                          854 non-null    int64
 7   Turnover                        854 non-null    object
 8   ESI 1                           854 non-null    int64
 9   ESI 2                           854 non-null    int64
 10  ESI 3                           854 non-null    int64
 11  Promoted This Year              854 non-null    object
 12  Complete the Training Course    854 non-null    object
 13  Training Evaluation Score       854 non-null    int64
 14  Min. Training Pass Eval. Score  854 non-null    int64
dtypes: float64(1), int64(7), object(7)
memory usage: 100.2+ KB

In [24]:
df['Education'].value_counts()

Education
Master’s degree                         280
Higher education (Bachelor’s degree)    275
Doctor of Philosophy (Ph.D.)            108
Primary education                       104
Secondary education                      87
Name: count, dtype: int64

In [25]:
df['Department'].value_counts()

Department
Business Development    93
Legal                   88
Creative                84
Sales                   73
Data                    72
Product Management      70
Quality Assurance       68
Human Resources         67
Engineering             64
Operations              64
Finance                 57
Marketing               54
Name: count, dtype: int64

In [26]:
df['Absent'].value_counts()

Absent
5    166
6    162
4    135
1     90
3     88
2     79
0     77
7     57
Name: count, dtype: int64

In [27]:
df['Turnover'].value_counts()

Turnover
No     734
Yes    119
v        1
Name: count, dtype: int64

In [30]:
print(df[df['Turnover'] == 'v'])

    Employe ID  Gender  Age        Education   Department  Performance Rating  \
670   BCGX5395  Female   49  Master’s degree  Engineering                6.93

     Absent Turnover  ESI 1  ESI 2  ESI 3 Promoted This Year  \
670       5        v      7      6      6                 No

    Complete the Training Course  Training Evaluation Score  \
670                          Yes                         83

     Min. Training Pass Eval. Score
670                              70