In [1021]:
import pandas as pd
import numpy as np

In [1022]:
df = pd.read_excel("Employee.xlsx")
df.head(10)

c:\Users\Lenovo\AppData\Local\Programs\Python\Python38\lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Employe ID,Gender,Age,Education,Department,Performance Rating,Absent,Turnover,ESI 1,ESI 2,ESI 3,Promoted This Year,Complete the Training Course,Training Evaluation Score,Min. Training Pass Eval. Score
0,BCGX7377,Male,27,Master’s degree,Business Development,7.92,1,No,9,8,6,No,Yes,98,70
1,BCGX4795,Male,44,Higher education (Bachelor’s degree),Engineering,5.94,7,No,8,10,9,No,No,91,70
2,BCGX4007,Female,21,Higher education (Bachelor’s degree),Human Resources,9.90,0,No,8,10,10,Yes,No,62,70
3,BCGX9524,Male,47,Higher education (Bachelor’s degree),Business Development,9.90,5,No,7,9,8,Yes,No,77,70
4,BCGX8426,Female,46,Doctor of Philosophy (Ph.D.),Product Management,7.92,4,No,9,9,9,No,Yes,85,70
5,BCGX9191,Female,49,Master’s degree,Creative,9.90,1,No,6,10,9,No,Yes,79,70
6,BCGX4731,Male,27,Secondary education,Creative,9.90,1,No,10,8,6,Yes,Yes,63,70
7,BCGX3989,Female,27,Master’s degree,Data,6.93,3,Yes,7,6,10,Yes,Yes,60,70
8,BCGX9816,Female,27,Master’s degree,Quality Assurance,6.93,6,Yes,6,7,8,No,No,63,70
9,BCGX8856,Female,21,Doctor of Philosophy (Ph.D.),Business Development,5.31,1,No,6,7,8,Yes,No,61,70

In [1023]:
df.isna().sum()

Employe ID                        0
Gender                            0
Age                               0
Education                         0
Department                        0
Performance Rating                0
Absent                            0
Turnover                          0
ESI 1                             0
ESI 2                             0
ESI 3                             0
Promoted This Year                0
Complete the Training Course      0
Training Evaluation Score         0
Min. Training Pass Eval. Score    0
dtype: int64

In [1024]:
df.duplicated().sum()

0

In [1025]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854 entries, 0 to 853
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Employe ID                      854 non-null    object
 1   Gender                          854 non-null    object
 2   Age                             854 non-null    int64
 3   Education                       854 non-null    object
 4   Department                      854 non-null    object
 5   Performance Rating              854 non-null    float64
 6   Absent                          854 non-null    int64
 7   Turnover                        854 non-null    object
 8   ESI 1                           854 non-null    int64
 9   ESI 2                           854 non-null    int64
 10  ESI 3                           854 non-null    int64
 11  Promoted This Year              854 non-null    object
 12  Complete the Training Course    854 non-null    object
 13  Training Evaluation Score       854 non-null    int64
 14  Min. Training Pass Eval. Score  854 non-null    int64
dtypes: float64(1), int64(7), object(7)
memory usage: 100.2+ KB

In [1026]:
df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0})

In [1027]:
df['Education'].value_counts()

Education
Master’s degree                         280
Higher education (Bachelor’s degree)    275
Doctor of Philosophy (Ph.D.)            108
Primary education                       104
Secondary education                      87
Name: count, dtype: int64

In [1028]:
df['Education'] = df['Education'].str.strip()
education_order = {
    'Primary education': 1,
    'Secondary education': 2,
    'Higher education (Bachelor’s degree)': 3,
    'Master’s degree': 4,
    'Doctor of Philosophy (Ph.D.)': 5
}

df['Education_Ordinal'] = df['Education'].map(education_order)

In [1029]:
df['Department'].value_counts()

Department
Business Development    93
Legal                   88
Creative                84
Sales                   73
Data                    72
Product Management      70
Quality Assurance       68
Human Resources         67
Engineering             64
Operations              64
Finance                 57
Marketing               54
Name: count, dtype: int64

In [1030]:
df_encoded = pd.get_dummies(df['Department'], prefix='Department')
df = pd.concat([df, df_encoded], axis=1)

In [1031]:
df['Turnover'].value_counts()

Turnover
No     734
Yes    119
v        1
Name: count, dtype: int64

In [1032]:
df = df[df['Turnover'] != 'v']

In [1033]:
df['Turnover'] = df['Turnover'].str.strip()
df['Turnover'] = df['Turnover'].map({'No': 0, 'Yes': 1})

In [1034]:
df['Promoted This Year'].value_counts()

Promoted This Year
No     474
Yes    379
Name: count, dtype: int64

In [1035]:
df['Promoted This Year'] = df['Promoted This Year'].map({'No': 0, 'Yes': 1})

In [1036]:
df['Complete the Training Course'] = df['Complete the Training Course'].map({'No': 0, 'Yes': 1})

In [1037]:
df['Employee Satisfaction'] = (((df['ESI 1']+df['ESI 2']+df['ESI 3']/3)-1)/9)*100

In [1038]:
#df.to_excel('Employee_Final.xlsx', index=False)

In [1039]:
df.drop(columns=['Employe ID', 'Education', 'Department', 'ESI 1', 'ESI 2', 'ESI 3'], inplace=True)

In [1040]:
print(df.columns)

Index(['Gender', 'Age', 'Performance Rating', 'Absent', 'Turnover',
       'Promoted This Year', 'Complete the Training Course',
       'Training Evaluation Score', 'Min. Training Pass Eval. Score',
       'Education_Ordinal', 'Department_Business Development',
       'Department_Creative', 'Department_Data', 'Department_Engineering',
       'Department_Finance', 'Department_Human Resources', 'Department_Legal',
       'Department_Marketing', 'Department_Operations',
       'Department_Product Management', 'Department_Quality Assurance',
       'Department_Sales', 'Employee Satisfaction'],
      dtype='object')

In [1041]:
df.shape

(853, 23)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [1042]:
X = df.drop(columns=['Turnover'])
y = df['Turnover']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)

In [1043]:
print(y_test.value_counts())

Turnover
0    220
1     36
Name: count, dtype: int64

In [1044]:
print(y_train.value_counts())

Turnover
0    514
1     83
Name: count, dtype: int64

In [ ]:
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)  
X_test_scaled = scaler.transform(X_test)

In [1045]:
models = {
    'Random Forest': RandomForestClassifier(random_state=42),
    'Logistic Regression': LogisticRegression(random_state=42),
    'Decision Tree': DecisionTreeClassifier(random_state=42),
    'Support Vector Machine': SVC(random_state=42),
    'K-Nearest Neighbors': KNeighborsClassifier()
}

results = pd.DataFrame(columns=['Model', 'Accuracy'])

for name, model in models.items():
    model.fit(X_train_scaled, y_train)
    y_pred = model.predict(X_test_scaled)
    accuracy = accuracy_score(y_test, y_pred)
    
    results = results._append({
        'Model': name,
        'Accuracy': accuracy
    }, ignore_index=True)

In [1049]:
results

                    Model  Accuracy
0           Random Forest  0.863281
1     Logistic Regression  0.859375
2           Decision Tree  0.757812
3  Support Vector Machine  0.859375
4     K-Nearest Neighbors  0.847656